<div class="container">
  <div class="row">
    <div class="col-12">
      <div style=" color: white; background: #cbe6be; padding: 10px; border: 2px dashed rgba(255 , 255 , 255 , 0.5);
                    -moz-border-radius: 6px; -moz-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
                    -webkit-border-radius: 6px; -webkit-box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5);
                    border-radius: 6px; box-shadow: 0 0 0 5px #cbe6be , 0 2px 3px 5px rgba(0 , 0 , 0 , 0.5); ">
        <h2 class="text-center", style="color: #48120E">
          <i class="fa-solid fa-cookie-bite" style="color: #b37039;"></i>
            会員一覧
          <i class="fa-solid fa-cookie-bite" style="color: #b37039;"></i>
        </h2>
      </div>
      <div class="pt-5">
        <table class="table", style="color: #4d382e;">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td><%= link_to customer.full_name, admin_customer_path(customer) %></td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.is_membership_status == true %>
                  <p class = "text-success">有効</p>
                <% else%>
                　<p class = "text-secondary">退会</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
