@use '~bootstrap/scss/bootstrap';

.wrapper{
     width: 100%;
     position: relative;
     min-height: 100%;
}

.inner{
     padding-bottom:100px; /*フッターの高さと同じにする*/
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.animated-box {
    width: 100px;
    height: 100px;
    animation: bounce 2s infinite;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(255,255,255,0.4);
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 0px white;
}

.main_visual_image{
  width: 100%;
  height: 650px;
}

.main_visual{
  position: relative;
}

.box18{
    margin:2em 0;
    position: relative;
    padding: 0.25em 1em;
    border: solid 2px #96d697;
    border-radius: 3px 0 3px 0;
}
.box18:before,.box18:after
{
    content: '';
    position: absolute;
    width:10px;
    height: 10px;
    border: solid 2px #96d697;
    border-radius: 50%;
}
.box18:after {
    top:-12px;
    left:-12px;
}
.box18:before {
    bottom:-12px;
    right:-12px;
}
.box18 p {
    margin: 0; 
    padding: 0;
}

.sideberlink{
  text-decoration: none;
  color: #48120E ;
}

.top_item_namelink{
  text-decoration: none;
  color: #48120E ;
}

a{
  text-decoration: none !important;
  color: #48120E !important;
}

.top_item_alllink{
  text-decoration: none;
  color: #48120E ;
}

.card {
  width: auto;
  background: #fff9f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 10px;
}
.card-name {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}
.card-price {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.kakomi-te1 {
 margin: 2em auto; 
 padding: 1em 1.5em;
 width: 98%; /*幅の調節*/
 color: #48120E; /* 文字色 */
 background-color: #fff9f5; /* 背景色 */
 border: 4px solid #f6bfbc; /*線の太さ・色*/
 border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
}

.marker-P-green {
 background: linear-gradient(transparent 60%, #ccffcc 0%);
}

.card2 {
  width: 285px;
  height: 285px;
  background: #fff9f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img2 {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.box25{
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}
.box25:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.box25 p {
    margin: 0; 
    padding: 0;
}

/* メモ　ホチキス　Ｂ */
.Hochi-box-b {
 position: relative;
 margin: 2em auto;
 padding: 30px 20px 15px;
 width: 90%; /* ボックス幅 */
 background: #fffafa; /* ボックス背景色 */
 color: #48120E; /* 文章色 */
 border: 1px solid #ccc; /* 枠線 */
 box-shadow: 1px 1px 2px #ccc; /* 影 */
}
.Hochi-box-b::before, 
.Hochi-box-b::after {
 position: absolute;
 content: '';
 top: 15px;
 width: 30px;
 border: 1.5px solid #C0C0C0; /*ホチキス*/
 border-radius: 20px;
 box-shadow: 0 -1px 2px #555;
}
.Hochi-box-b::before { left: 80px;}
.Hochi-box-b::after { right: 80px;}

.box17{
    
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px #48120E;
    border-bottom: solid 2px #48120E;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: #48120E;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}

.clip-box-b {
 position: relative;
 margin: 2em auto;
 padding: 15px 35px 15px 25px;
 width: 90%; /* ボックス幅 */
 background-color: #e6fbff; /* ボックス背景色 */
 color: #666666; /* 文章色 */
 box-shadow: 4px 4px 1px #b8dee6; /* 影の色 */
}
.clip-box-b::before {
 position: absolute;
 content: '';
 top: -15px;
 right: 10px;
 height: 55px;
 width: 15px;
 border: 3px solid #C0C0C0; /*クリップ色 */
 background-color: none;
 border-radius: 12px;
 box-shadow: 1px 1px 2px #ccc; /*クリップ影*/
 transform: rotate(10deg);
 z-index: 1;
}
.clip-box-b::after {
 position: absolute;
 content: '';
 top: 0px;
 width: 10px; 
 right: 20px;
 border: solid 5px #e6fbff; /*背景色と同じ色に！*/
 z-index: 2;
}

.footer{
  background-color: #4d382e;
  position: sticky;
  top: 100vh;
  width: 100%;
  height: 50px;
  //height:50px;
  position:absolute;
  bottom:0;
  margin-top: -20px;
}


html{
  height: 100%;
}

body{
  height: 100%;
}

.item-title{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #3cb371;
    box-shadow: 0px 0px 0px 10px #3cb371;
    border: dashed 2px white;
}

@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

.item-line {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  background: url(http://webcreatorbox.com/sample/images/check.png) repeat-x 0 25px;
  display: inline-block;
  padding: 0 10px
}

.all__paginate{
  width: 100%;
  margin: auto;
}

/* ページネーション全体 */
.pagination{
  text-align: center;
  display: flex;
  justify-content: center; 
}

/* ページネーションのspan */
.pagination span{
  text-align: center;
  width: 50px;
  font-size: 20px;
}

/* ページネーションのリンク文字（a） */
.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

/* ページネーションの文字にカーソルを載せた時 */
.pagination a:hover{
  width: 50px;
  height: 50px;
  background-color: #ededa8;
  color: #FFF;
  border-radius: 100%;
  padding: 10px;
}

/* 現在のページの数字についての表記 */
.current{
  font-weight: bold;
  color: #6bb324;
  padding: 10px;
}

.cart-item-title{
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #ffa500;
    box-shadow: 0px 0px 0px 10px #ffa500;
    border: dashed 2px white;
}