@use '~bootstrap/scss/bootstrap';

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.animated-box {
    width: 100px;
    height: 100px;
    animation: bounce 2s infinite;
}
.text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(255,255,255,0.4);
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 2px 2px 0px white;
}

.main_visual_image{
  width: 100%;
  height: 650px;
}

.main_visual{
  position: relative;
}

.sideberlink{
  text-decoration: none;
  color: #48120E ;
}

.top_item_namelink{
  text-decoration: none;
  color: #48120E ;
}

a{
  text-decoration: none !important;
  color: #48120E !important;

}

.top_item_alllink{
  text-decoration: none;
  color: #48120E ;
}

.card {
  width: auto;
  background: #fff9f5;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 10px;
}
.card-name {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}
.card-price {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

#footer{
  background-color: #4d382e;
  position: sticky;
  top: 100vh;
  width: 100%;
  height: 50px;
}

html{
  height: 100%;
}

body{
  height: 100%;
}