<div class="container">
  <div class="unsubscribe"></div>
  <div class="row">
    <div class="col text-center p-1">
      <font size="10" face="Times New Roman">♡ Thank you for your order ♡</font>
    </div>
  </div>
</div>