<div class="container">
  <div class="unsubscribe"></div>
  <div class="row">
    <div class="col text-center p-1">
      <font size="10" face="Times New Roman">Times New Roman!</font>
    </div>
  </div>
</div>