<div class="mt-auto py-2 text-center", style = "background-color: #4d3126; color: #48120E;">
    <div class="container">
        <small class="text-muted">
          ながの　cake
        </small>
    </div>
</div>